 p#acceso{
      text-align: right;
 }
 li.menu{
     display: inline-block;
     padding-left: 1cm;
     padding-right: 1cm;
     padding-top: 0,5cm;
     padding-bottom: 0,5cm;
     border: solid 1px;
     background-color: rgb(245, 245, 153);
 }
 
 img#img1{
     float: left;
 }
 img#img2{
     float: right;
     width: 250px;
     height:220px;
 }
 img#img3{
     text-align: center
     ;
 }
 main{
     margin-left: 10%;
 }
 iframe#mapa{
     float: right;
     margin-right: 100px
 }
 footer{
     background-color: aqua;
 }
 iframe#WebAbastos{
     width: 3cm;;
     height: 5cm;
 }
 h3{
     color: blue;
 }
